#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  width: 200px;
}

button:disabled {
  color: rgb(46, 46, 46);
  cursor: default;
  border: none;
}